altgraph==0.17.5
beautifulsoup4==4.15.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
curl-cffi==0.15.0
dnspython==2.8.0
idna==3.18
markdown-it-py==4.2.0
mdurl==0.1.2
mutagen==1.47.0
packaging==26.2
pefile==2024.8.26
pillow==12.2.0
pycparser==3.0
pygments==2.20.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pymongo==4.17.0
pyotp==2.10.0
pywin32-ctypes==0.2.3
readerwriterlock==1.0.9
redis==8.0.0
requests==2.34.2
rich==15.0.0
setuptools==82.0.1
soupsieve==2.8.4
spotapi==1.2.8
tls-client==1.0.1
typing-extensions==4.15.0
urllib3==2.7.0
validators==0.35.0
websockets==16.0
yt-dlp==2026.6.9
ytmusicapi==1.12.1
